<% 3.times do |row| %>
  <div class="row row-<%= row %>">
    <% 3.times do |col| %>
      <div class="cell <%= 'cell-middle' if col == 1 %>">
        <% if !sub_board.state[row.to_s][col.to_s].nil? %>
          <%= render 'pieces/piece' %>
        <%elsif !sub_board.lost && sub_board.playable && !room.game_over?%>
          <%= form_with model: room do |form|%>
            <%= form.hidden_field :row, value: row %>
            <%= form.hidden_field :col, value: col %>
            <%= form.hidden_field :sub_board_id, value: sub_board.id %>
            <%= form.submit 'Set x'%>
          <%end%>
        <%end%>
      </div>
    <%end%>
  </div>
<%end%>