import * as ModalManager from './modal.js';
import * as Music from './music.js';

function openRules(){
  var modal = ModalManager.createModal();

  populateRules(modal);
}

function populateRules(modal){
  var closeBtn = document.createElement('button');
  var header = document.createElement('h2');
  var img = document.createElement('img');
  var btnsWrapper = document.createElement('div');
  var textRulesBtn = document.createElement('button');
  var creditsBtn = document.createElement('button');
  var nextBtn = document.createElement('button');

  closeBtn.innerHTML ='<i class="fas fa-times"></i>';
  closeBtn.classList.add('close-btn');
  closeBtn.addEventListener('click', ModalManager.closeModal);

  header.textContent = 'Notakto Rules'

  img.src = '<%= asset_path("gifs/video_rules_1.gif") %>';
  img.classList.add('rules-img', '1');

  textRulesBtn.innerHTML = '<i class="far fa-file-alt"></i>';
  textRulesBtn.addEventListener('click', ShowTextRules);

  creditsBtn.innerHTML = '<i class="fas fa-code"></i>';
  creditsBtn.addEventListener('click', ShowCredits);

  nextBtn.innerHTML = '<i class="fas fa-arrow-right"></i>';
  nextBtn.addEventListener('click', nextRule);

  btnsWrapper.classList.add('btn-wrapper');

  btnsWrapper.appendChild(textRulesBtn);
  btnsWrapper.appendChild(creditsBtn);
  btnsWrapper.appendChild(nextBtn);

  modal.appendChild(closeBtn);
  modal.appendChild(header)
  modal.appendChild(img);
  modal.appendChild(btnsWrapper);
}

function ShowTextRules(){
  var modal = document.getElementsByClassName('modal')[0];
  var closeBtn = document.createElement('button');
  var header = document.createElement('h2');
  var rules = document.createElement('div');

  ModalManager.closeModal();

  modal.addEventListener('animationend', () =>{
    modal = ModalManager.createModal();
    header.textContent = 'Notakto Rules'
    modal.classList.add('scroll-modal');
    modal.appendChild(closeBtn);
    modal.appendChild(header);
    modal.appendChild(rules);
    rules.classList.add('text-rules');
    fetchRules();

    closeBtn.innerHTML ='<i class="fas fa-times"></i>';
    closeBtn.classList.add('close-btn');
    closeBtn.addEventListener('click', ModalManager.closeModal);
  });

}

function ShowCredits(){
  var modal = document.getElementsByClassName('modal')[0];
  var closeBtn = document.createElement('button');
  var header = document.createElement('h2');
  var credits = document.createElement('div');
  var feedback = document.createElement('div');

  ModalManager.closeModal();

  modal.addEventListener('animationend', () =>{
    modal = ModalManager.createModal();
    header.textContent = 'Credits'
    modal.appendChild(closeBtn);
    modal.appendChild(header);
    modal.appendChild(credits);
    modal.appendChild(feedback);

    credits.classList.add('credits');
    feedback.classList.add('feedback');

    credits.innerHTML = "<table><tr><td>Made by</td><td><a href='https://github.com/LucaBla' target='_blank'>Luca Blazevic <i class='fab fa-github'></i></a></td></tr><tr><td>Music by</td><td><a href='https://www.patrickdearteaga.com' target='_blank'>Patrick de Arteaga <i class='fas fa-music'></i></a></td></tr></table>";

    feedback.innerHTML = "<a href='mailto:me@lucablazevic.dev'>Any Feedback? <i class='fas fa-envelope'></i></a>";

    closeBtn.innerHTML ='<i class="fas fa-times"></i>';
    closeBtn.classList.add('close-btn');
    closeBtn.addEventListener('click', ModalManager.closeModal);
  });
}

function nextRule(){
  let newRule = parseInt(document.getElementsByClassName('rules-img')[0]
                                 .classList[document.getElementsByClassName('rules-img')[0]
                                 .classList.length-1]) +1;
  if(newRule > 6){
    return
  }
  else{
    document.getElementsByClassName('rules-img')[0].classList.replace(newRule-1,newRule);
    if(document.getElementsByClassName('rules-img')[0].classList[1] == '2'){
      document.getElementsByClassName('rules-img')[0].src = "<%= asset_path('gifs/video_rules_2.gif') %>";
    }
    else if(document.getElementsByClassName('rules-img')[0].classList[1] == '3'){
      document.getElementsByClassName('rules-img')[0].src = "<%= asset_path('gifs/video_rules_3.gif') %>";
    }
    else if(document.getElementsByClassName('rules-img')[0].classList[1] == '4'){
      document.getElementsByClassName('rules-img')[0].src = "<%= asset_path('gifs/video_rules_4.gif') %>";
    }
    else if(document.getElementsByClassName('rules-img')[0].classList[1] == '2'){
      document.getElementsByClassName('rules-img')[0].src = "<%= asset_path('gifs/video_rules_5.gif') %>";
    }
    else if(document.getElementsByClassName('rules-img')[0].classList[1] == '6'){
      document.getElementsByClassName('rules-img')[0].src = "<%= asset_path('gifs/video_rules_6.gif') %>";
    }
  }
}

function fetchRules(){
  fetch('<%= asset_path("rules.txt") %>')
  .then((resp) => resp.text())
  .then(data => {
    document.getElementsByClassName('text-rules')[0].innerHTML = data;
  }) 
}

export {openRules};