<div class="modal-bg select-starting-player-modal">
  <div class="modal animate__animated animate__bounceInLeft">
    <h2>Create a Game</h2>
    <%# current_user.name %>
    <%= form_with model: room do |form| %>
      <div>
        <%= form.label :starting_player %>
        <%= form.select :starting_player, ['1', '2', 'random'] %>
      </div>
      <div class="link-copy-wrapper">
        <input type="text" value="<%= request.original_url %>" id="link-copy">
        <%= button_tag 'Copy', type: 'button', id: 'link-copy-button' %>
      </div>
      <div class="submit-btn-wrapper-mp">
        <% if room.player_count != 2 %>
          <%= form.submit 'Start', class: 'submit-modal disabled', disabled: true %>
        <%else%>
          <%= form.submit 'Start', class: 'submit-modal'%>
        <%end%>
        <span class="player-count"> 0/2</span>
      </div>
    <%end%>
  </div>
</div>