<body>
  <% if @room.adjusted == false %>
    <% if current_user.id == @room.player1 %>
      <%=render 'rooms/form', room: @room %>
    <% else %>
      <%= render 'rooms/wait' %>
    <%end%>
  <%end%>
  <header>
    <div class="title animate__animated hidden animate__delay-1s">
      <%=link_to root_path, data: {turbo: false} do%>
        <h1>Ultimate Notakto</h1>
      <%end%>
      <%= image_tag('logo.svg') %>
    </div>
    <div class="slider-wrapper">
      <i class="fas fa-volume-up"></i>
      <input type="range" min="0" max="100" value="50" class="slider vol">
    </div>
  </header>
  <main>
    <div class="active-player-label">
      
    </div>
    <%# turbo_stream_from dom_id(@room.board) %>
    <div class="board-wrapper" data-room-id="<%=@room.try(:id)%>" data-user-id="<%=current_user.id%>" data-host-id ="<%=@room.player1%>">
      <%# render @room.board, room: @room%>
      <%= render 'boards/board', room: @room%>
    </div>
  </main>
  <div class="menu">
    <div class="buttons">
      <button class="play-btn">Play</button>
      <button class="rules-btn">Rules</button>
    </div>
  </div>
  <%= audio_tag "Solve_The_Puzzle.mp3", loop: true %>
  <template>
    <div class="x">
      <svg width="30" height="30" viewBox="0 0 173 206" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1_2)">
        <path d="M1 1L170.197 206.252" stroke="#D9D9D9" stroke-width="15" stroke-linecap="round"/>
        <path d="M0 206.066L172.91 -5.30481e-06" stroke="#D9D9D9" stroke-width="15" stroke-linecap="round"/>
        </g>
        <defs>
        <clipPath id="clip0_1_2">
        <rect width="173" height="206" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </div>
  </template>
  <template id='mp-btn'>
    <%= button_to 'Play Online', rooms_path, {method: :post} %>
  </template>
  <template id='replay-btn'>
    <%= button_to 'Replay', reset_room_url, method: :patch, class: 'replay-btn' %>
  </template>
</body>
  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
  <script>
    kofiWidgetOverlay.draw('lucablazevic', {
      'type': 'floating-chat',
      'floating-chat.donateButton.text': 'Support me',
      'floating-chat.donateButton.background-color': '#008DD5',
      'floating-chat.donateButton.text-color': '#D9D9D9'
    });
  </script>
</html>